[DEFAULT]
log_level = DEBUG
# Path to cookies that is commmon to all modes:
cookie = 

# email_notifications = True
# smtp_server = smtp.test.test
# smtp_port = 22
# admin_email = a@a.a

[monitor]
scan_delay = 15.5
log_level = INFO

[download]
scan_delay = 2.5
log_level = WARNING
# cookie = /path/to/cookies.txt

[channel_monitor]
channel_name = Matsuro Meru
scan_delay = 25.0
URL = https://www.youtube.com/channel/UCIJ6TGsTcBlYGUj-zbL60EQ
